*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
     transition: all 0.2s ease-in-out;
 
}
body{
    background: #008888;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
 .card {
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
  }
 
@media only screen and (max-width: 800px) {
    .protfolio{
        padding: 20px;
    }
    .card-content{
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .space{
        height: 20px;
    }
   
    .mobile-navbar{
        display:block;
        flex-direction: column;
        position: absolute;
        top:0;
        left: 0;
         
      }
      .carousel-inner .carousel-item   img {
          width: 100%;
      }
      .carousel-item .carousel-caption{
          color: rgb(255, 230, 0);
          font-size: 50px;
      }
      .carousel-item .carousel-caption h3{

        font-size: 25px;
    }
      .protfolio{
          text-align: center;
      }
      .images{
          
          display: flex;
          flex-direction: row;
   
          margin: 10px;
          justify-content: space-between;
      }
      .content{
        background-color: rgba(0,0 ,0 ,0.9 );
     
      }
      .images img {
        width: 20%;
        padding: 5px;
      }
      .image2 {
        display: flex;
        flex-direction: row;
 
        margin: 10px;
        justify-content: space-between;
      }
      .image2 img {
        width: 20%;
        padding: 5px;
      }
      .main_header {
        width: 100%;
      background-color: hsl(0, 0%, 94%);
        display: grid;
        place-items: center;
      }

      .center_div {
        min-width: 50vw;
        height: 40vh;
        color: #000;
        text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-align:center;
      }
      .balloon{
        height: 50px;
        width: 45px;
        background-color: crimson;
        position: absolute;
        top: 40%;
        left: 10%;
        border-radius: 50%;
        animation: move 2s ease-in infinite;
    }
    .balloon:before{
        content: "";
        height: 60px;
        width: 6px;
        position: absolute;
        background-color: white;
        top: 50%;
         left: 40%;
    
    }
    @keyframes move{
        0%{
            bottom: 0%;
        }
        100%{
            top: 100%;
        }
    }
    .balloon:nth-child(2){
        left: 20%;
        top: 40%;
        background-color: yellow;
        animation-duration: 3s;
    }
    .balloon:nth-child(3){
        left: 30%;
        top: 0%;
        background-color: lightpink;
        animation-duration: 4s;
    }
    
    
    
    .balloon:nth-child(5){
        left: 40%;
        top: 0%;
        background-color: gray;
        animation-duration: 6s;
    }
    
    .balloon:nth-child(6){
        left: 50%;
        top: 0%;
        background-color: orange;
        animation-duration: 2s;
    }
    .balloon:nth-child(7){
        left: 60%;
        top: 0%;
        background-color: yellow;
        animation-duration: 7s;
    }
    
    .balloon:nth-child(8){
        left: 70%;
        top: 0%;
        background-color: blue;
        animation-duration: 3s;
    }
    
    .card {
        flex-direction: row-reverse;
 
      }
      .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
      }
    }
    
    img.birthday {
      max-height: 40vh;
    }
    
    .text {
      padding: 1em;
    }
    
    .muted {
      opacity: 0.8;
    }
    
 
 
  
